<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:  #052c65;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-solid fa-shop"></i> Sistema Prestamos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        @if(isLogged) {
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="/home">Home</a>
            </li>
          @if(isAdmin) {
              <li class="nav-item" >
                <a class="nav-link" routerLinkActive="active" routerLink="/reg-item">Registrar Artículo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/reg-user">Registrar Usuario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/gestion">Solicitudes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/prestamosactivos">Prestamos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/prestamospasados">Prestamos Pasados</a>
              </li>
            }
          </ul>
          <button (click)="logout()">Log Out</button>
        }
          
            
        
      </div>
    </div>
  </nav>


