
<body>
    <div class="prestamos-container">
        <h2>{{ titulo }}</h2>

        <table class="prestamos-table">
            <thead>
                <tr>
                    <th>ID Préstamo</th>
                    <th>Producto</th>
                    <th>Solicitante</th>
                    <th>Fecha de Inicio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prestamo of prestamosFiltrados">
                    <td>{{ prestamo.id }}</td>
                    <td>{{ prestamo.product.name }}</td>
                    <td>{{ prestamo.user.name }}</td>
                    <td>{{ prestamo.loan_date }}</td>
                    <td class="action-buttons">
                        <button class="entregado-btn" (click)="handinLoan(prestamo.id)">Entregado</button>
                        <button class="eliminar-btn" (click)="deleteLoan(prestamo.id)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
