
<div class="solicitud-container">
    <div class="solicitud-box">
      <h2>Solicitar Producto</h2>
      <form action="#" method="POST" class="form-flex">
        <!-- Campo de Producto (Nombre del Producto) -->
        <div class="input-box">
          <input type="text" [value]="product?.name" required disabled>
        </div>
        <div class="input-box">
            <input type="text" [value]="product?.description" required disabled>
        </div>
        <div class="input-box">
            <input type="text" [value]="'Disponible(s): '+product?.quantity" required disabled>
        </div>
    
  
        <!-- Campo de Imagen del Producto -->
        <div class="image-box">
          <img [src]="product?.image_url" alt="Product Image">
        </div>
        <div class="botones">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Solicitar</button>
            <button class="btn btn-danger" [routerLink]="['/home']">Cancelar</button>
        </div>
        
      </form>
    </div>
  </div>
  