<!-- <div class="solicitud-container">
    <div class="solicitud-box">
        <h2>Solicitar Producto</h2>
        <form action="#" method="POST" class="form-flex">
   
            <div class="input-box">
                <input type="text" required>
                <label>Producto Solicitado</label>
            </div>

            <div class="input-box">
                <input type="number" min="1" required>
                <label>Cantidad</label>
            </div>
            <div class="input-box">
                <input type="number" min="1" required>
                <label>Días de prestamo</label>
            </div>
            <div class="image-box">
                <img src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D" alt="Product Image">
            </div> 

            <button type="submit" class="accept-btn">Solicitar</button>
        </form>
    </div>
</div> -->


<div class="solicitud-container">
    <div class="solicitud-box">
      <h2>Solicitar Producto</h2>
      <form action="#" method="POST" class="form-flex">
        <!-- Campo de Producto (Nombre del Producto) -->
        <div class="input-box">
          <input type="text" [value]="product?.name" required disabled>
        </div>
        <div class="input-box">
            <input type="text" [value]="product?.description" required disabled>
        </div>
        <div class="input-box">
            <input type="text" [value]="'Disponible(s): '+product?.quantity" required disabled>
        </div>
    
  
        <!-- Campo de Imagen del Producto -->
        <div class="image-box">
          <img [src]="product?.image_url" alt="Product Image">
        </div>
        <div class="botones">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Solicitar</button>
            <button class="btn btn-danger" [routerLink]="['/home']">Cancelar</button>
        </div>
        
      </form>
    </div>
  </div>
  