
<body>
    
    <div class="prestamos-container">
        <div class="filter-buttons">
            <button class="solicitudes-btn" (click)="filterLoans(1)" (click)="showSolicitudes()">Solicitudes</button>
            <button class="solicitudes-btn" (click)="filterLoans(2)" (click)="showActivos()">Préstamos Activos</button>
        </div>
        <h2>{{ titulo }}</h2>
        <button class="nuevo-btn">Registrar nuevo</button>


        <table class="prestamos-table">
            <thead>
                <tr>
                    <th>ID Préstamo</th>
                    <th>Producto</th>
                    <th>Solicitante</th>
                    <th>Fecha de Solicitud</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prestamo of prestamosFiltrados">
                    <td>{{ prestamo.id }}</td>
                    <td>{{ prestamo.product.name }}</td>
                    <td>{{ prestamo.user.name }}</td>
                    <td>{{ prestamo.loan_date }}</td>
                    <td class="action-buttons">
                        <button class="entregado-btn" (click)="acceptLoan(prestamo.id)">Aceptar</button>
                        <button class="eliminar-btn" (click)="rejectLoan(prestamo.id)">Rechazar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
