
<div class="product-container">
    <div class="product-box">
        <h2><i class="fa-solid fa-cart-shopping"></i> Registrar Artículo</h2>
        <form [formGroup]="formRegister" (ngSubmit)="register()">
            <div class="input-box">
                <input type="text" required formControlName="code">
                <label>Código</label>
            </div>
            <div class="input-box">
                <input type="text" required formControlName="name">
                <label>Nombre</label>
            </div>
            <div class="input-box">
                <select required formControlName="category">
                    <option value="" disabled selected></option>
                    <option value="Electronica">Electronica</option>
                    <option value="Herramienta">Herramienta</option>
                    <option value="Deportes">Deportes</option>
                    <option value="Libros">Libros</option>
                </select>
                <label>Categoría</label>
            </div>
            <div class="input-box">
                <input type="number" min="1" required formControlName="quantity">
                <label>Cantidad</label>
            </div>
            <div class="input-box">
                <input type="text" required formControlName="description">
                <label>Descripción</label>
            </div>
            <div class="input-box">
                <input type="text" required formControlName="image_url">
                <label>Url de imágen</label>
            </div>
            <button type="submit">Registrar</button> 
        </form>
    </div>
    
</div>
