
<div class="product-container">
    <div class="product-box">
        <h2><i class="fa-solid fa-cart-shopping"></i> Registrar Producto</h2>
        <form action="#" method="POST">
            <div class="input-box">
                <input type="text" required>
                <label>Código</label>
            </div>
            <div class="input-box">
                <input type="text" required>
                <label>Nombre</label>
            </div>
            <div class="input-box">
                <select required>
                    <option value="" disabled selected></option>
                    <option value="electronics">Electronics</option>
                    <option value="furniture">Furniture</option>
                    <option value="clothing">Clothing</option>
                    <option value="books">Books</option>
                </select>
                <label>Categoría</label>
            </div>
            <div class="input-box">
                <input type="number" min="1" required>
                <label>Cantidad</label>
            </div>
            <div class="image-box">
                <img src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D" alt="Product Image">
            </div> 
            <button type="submit">Guardar</button> 
        </form>
    </div>
    
</div>
