<div class="register-container">
    <div class="register-box">
        <h2>Registrar Usuario</h2>
        <form [formGroup]="formRegister" (ngSubmit)="register()">
            <div class="input-box">
                <input type="text" formControlName="name" required>
                <label><i class="fa fa-user"></i> Nombre</label>
            </div>
            <div class="input-box">
                <input type="text" required formControlName="lastname">
                <label><i class="fa fa-user"></i> Apellido</label>
            </div>
            <div class="input-box">
                <input type="text" required formControlName="username">
                <label><i class="fa fa-user"></i> Username</label>
            </div>
            <div class="input-box">
                <input type="email" required formControlName="email">
                <label><i class="fa-solid fa-envelope"></i> Email</label>
            </div>
            <div class="input-box">
                <input type="password" required formControlName="password">
                <label><i class="fa-solid fa-lock"></i> Contraseña</label>
            </div>
            <div class="input-box">
                <select required formControlName="role">
                    <option value="" disabled selected></option>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
                <label>Tipo de Usuario</label>
            </div>
            <button type="submit">Registrar</button>
        </form>
    </div>
</div>