* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.register-box {
    background: white;
    padding: 50px; /* Más espacio interno */
    border-radius: 12px;
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 400px; /* Más ancho para campos adicionales */
    margin-top: 30px; 
}

.register-box h2 {
    margin-bottom: 25px;
    font-size: 28px; /* Título más grande */
    color: black;
}

.input-box {
    position: relative;
    margin-bottom: 35px;
}

.input-box input, 
.input-box select{
    width: 100%;
    padding: 15px; /* Más espacio en los inputs */
    background: transparent;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    color: #333;
    font-size: 20px; /* Tamaño de letra más grande */
    transition: 0.3s;/* Más margen arriba */
    appearance: none;
}
.input-box select {
    background-color: white;
    font-size: 18px;
    padding-left: 5px;
}

.input-box label {
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 20px; /* Letras más grandes en los labels */
    color: #052c65;
    transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label,
.input-box select:focus ~ label,
.input-box select:valid ~ label {
    top: -25px;
    font-size: 16px;
    color: #052c65;
}

button {
    background: #052c65;
    border: none;
    padding: 12px 25px; /* Botón más grande */
    color: white;
    font-size: 18px; /* Texto del botón más grande */
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #052c50;
}
